/* body {background-color: lightcyan;} */
#headerAppBar button {color: black;}

#topMenuArea {background:#be66ff;}
#topMenuArea div button p {color: azure;}
#navbarArea {background-color: #E5CCFF;}
#footerArea {background:darkgray;}
#footerArea p {color: azure;}
