/* body {background-color: lightcyan;} */

#topMenuArea {background:olive;}
#topMenuArea div button p {color: azure;}
#navbarArea {background-color: burlywood;}
#footerArea {background:#333333;}
#footerArea p {color: azure;}
