/* body {background-color: darkslategray;} */

#topMenuArea {background:black;}
#topMenuArea div button p {color: azure;}
#navbarArea {background-color: darkgrey;}
#footerArea {background:black;}
#footerArea p {color: azure;}
