/* body {background-color: lightcyan;} */
#headerAppBar button {color: black;}

#topMenuArea {background:#be66ff;}
#topMenuArea div button p {color: azure;}
#contentBoardCategoryArea { margin-top: 280px; }
#navbarArea {background-color: #E5CCFF; height: 40px; vertical-align:'bottom';}
#topMenuArea > div { height: 40px; }
#topMenuArea > div > button { height: 40px; }
#footerArea {background:darkgray;}
#footerArea p {color: azure;}
